.loginPage {
  min-width: 360px;
  min-height: 100vh;
  width: 100%;
}

/* 헤더와 푸터 사이 바디 */
.body {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 로그인 컨테이너 */
.loginContainer {
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 1.8em 2.5em;
  width: 500px;
  box-sizing: border-box;
}

.tovalleyLogo img {
  cursor: pointer;
}

/* 로그인 입력창 */
.loginInput {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

/* 로그인 입력창 인풋 */
.loginInput input {
  border: 1px solid #b8b8b8;
  border-radius: 7px;
  padding: 0.8em 1.5em;
  font-size: 1rem;
  margin-top: 0.8em;
}

/* 로그인 입력창 인풋 클릭했을 때 */
.loginInput input:focus {
  border: none;
  outline: 1px solid #66a5fc;
}

/* 로그인 입력창 인풋 안내 내용 */
.loginInput input::placeholder {
  color: #b8b8b8;
}

.passwordAlert {
  font-size: 0.8rem;
  text-align: left;
  display: block;
  margin: 0.5em 0 0 0.5em;
  color: #ea0e00;
}

/* 로그인 버튼 */
.loginInput button {
  background-color: #66a5fc;
  border: none;
  color: white;
  padding: 0.8em;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 1.5em;
}

/* 소셜 로그인 */
.socialLogin {
  margin-top: 2.5em;
}

.socialLoginTitle {
  display: flex;
}

.socialLoginTitle hr {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #cccccc;
}

.socialLoginTitle span {
  color: #afafaf;
  font-size: 0.9rem;
  min-width: 70px;
  margin: 0 0.7em;
}

/* 소셜 로그인 로고 */
.socialLoginLogo {
  margin-top: 1.2em;
}

.socialLoginLogo img {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgb(208, 208, 208);
  margin: 0 0.3em;
}

/* 아이디 비밀번호 찾기 */
.loginFind {
  margin-top: 1.5em;
  margin-bottom: 6em;
  text-align: center;
  min-width: 450px;
}

.loginFind span {
  color: #787878;
  cursor: pointer;
  border-bottom: 1px solid #787878;
  margin: 0 1em;
}

/* 아이디 찾기 */
.findInfoContainer {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adaaa790;
}

.findInfoModal {
  width: 500px;
  border-radius: 10px;
  background-color: #fdfdfd;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -220px;
  padding: 2em 3.5em 3em 3.5em;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.findInfoClose {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 20px;
}

.findInfoModal h1,
.passwordReset h1 {
  font-size: 1.5rem;
  margin: 0.5em;
}

.findInfoModal > span,
.passwordReset > span {
  color: #787878;
}

.findInfoInput {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.findInfoInput input,
.confirmCodeInput input {
  margin-bottom: 0.6em;
  font-size: 1rem;
  padding: 0.8em 1em;
  border-radius: 8px;
  border: 1px solid #b8b8b8;
}

.findInfoInput input:focus,
.confirmCodeInput input:focus {
  outline: none;
}

.findInfoInput button,
.confirmCodeInput button {
  background-color: #66a5fc;
  border: none;
  padding: 0.8em;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  min-width: 70px;
  margin-bottom: 1em;
}

.findInfoInput span {
  color: rgb(227, 114, 114);
}

.confirmPassword {
  color: rgb(227, 114, 114);
  font-size: 0.9rem;
  margin: 0 0 1em 0.5em;
  text-align: left;
}

.confirmCode {
  margin-top: 2em;
}

.confirmCode > span {
  color: #787878;
  font-size: 0.9rem;
}

.confirmCodeInput {
  display: flex;
  align-items: center;
}

.confirmCodeInput input {
  width: 100%;
  margin: 0 0.5em 0 0;
}

.confirmCodeInput button {
  margin-top: 1em;
}

.timer {
  margin-left: 0.5em;
}

@media screen and (max-width: 900px) {
  .loginContainer {
    width: 480px;
  }
}

@media screen and (max-width: 700px) {
  .loginContainer {
    width: 380px;
    padding: 1.8em 1.5em;
  }

  .findInfoModal {
    width: 400px;
    margin-left: -200px;
  }

  .confirmCode {
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .loginContainer {
    width: 300px;
    padding: 1.8em 1.2em;
  }

  .findInfoModal {
    width: 300px;
    margin-left: -150px;
    padding: 2.5em 1.5em 2em 1.5em;
  }

  .findInfoModal h1,
  .passwordReset h1 {
    font-size: 1.3rem;
  }

  .findInfoModal > span,
  .passwordReset > span {
    font-size: 0.9rem;
  }

  .confirmCode {
    margin-top: 1em;
  }

  .confirmCode > span {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .loginContainer {
    width: 300px;
    padding: 1.8em 1.2em;
  }

  .loginFind span {
    font-size: 0.9rem;
  }
}
