/* 일정 리스트 */
.scheduleItem {
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  margin-top: 1em;
  position: relative;
  padding: 2em 1em;
  display: flex;
  min-width: 800px;
}

.scheduleCheck {
  position: absolute;
  top: 1em;
  left: 1em;
  cursor: pointer;
}

.scheduleItem img {
  margin: 0 2em 0 3em;
  border-radius: 8px;
}

.scheduleInfo {
  width: 100%;
  cursor: pointer;
}

/* 계곡 이름 */
.scheduleInfo > h4 {
  margin: 0;
  margin-top: 0.3em;
  font-size: 1.5rem;
}

/* 계곡 주소 */
.scheduleInfo > span:nth-child(2) {
  color: #828282;
  display: block;
  margin: 0.3em 0;
  font-size: 1.2rem;
}

/* 계곡 별점 */
.scheduleInfo > span:nth-child(3) {
  color: #66a5fc;
  font-weight: bold;
  font-size: 1.1rem;
}

.scheduleInfo > span:nth-child(4) {
  color: #b8b8b8;
  font-weight: bold;
  margin-right: 1.8em;
  font-size: 1.1rem;
}

/* 게곡 리뷰 개수 */
.scheduleInfo > span:nth-child(5) {
  color: #66a5fc;
  font-weight: bold;
  font-size: 1.1rem;
}

/* 예약 정보 */
.reservationInfo {
  margin-top: 1.6em;
  min-width: 200px;
}

.reservationInfo > div {
  margin-top: 0.3em;
}

.reservationInfo > div > span {
  font-size: 1.1rem;
}

.reservationInfo > div > span:first-child {
  color: #a3a3a3;
  margin-right: 1.5em;
}

.valleyInfo {
  width: 100%;
  margin-right: 2em;
}

.writeReviewBtn {
  display: flex;
  justify-content: right;
}

.writeReviewBtn > span {
  background-color: #66a5fc;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
}

/* 계곡 혼잡도 */
.congestion,
.preCongestion {
  display: flex;
  justify-content: right;
  align-items: center;
}

.preCongestion {
  margin: 1em 1em 0 0;
}

.congestion > span:first-child,
.preCongestion > span:first-child {
  color: #666666;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 0.5em;
}

.preCongestion > span:first-child {
  font-size: 1rem;
}

.congestion > div:nth-child(2),
.preCongestion > div:nth-child(2) {
  width: 40px;
  height: 16px;
  border-radius: 3px;
  background-color: #fa7f64;
  margin-bottom: 0.3em;
}

.preCongestion > div:nth-child(2) {
  margin-bottom: 0.2em;
}

.rescueList {
  display: flex;
  border: 1.5px solid #66a5fc;
  padding: 1em;
  border-radius: 10px;
  justify-content: space-between;
  min-width: 300px;
  margin-top: 1.5em;
}

.rescueItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rescueItem > span:nth-child(2) {
  color: #66a5fc;
  font-weight: bold;
}
