.imgContainer {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.imgBox {
  width: 820px;
  height: 580px;
  background-color: rgba(0, 0, 0, 0.588);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -410px;
  margin-top: -290px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
}

.reviewImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewImg > img {
  margin-top: 1em;
  margin-bottom: 3em;
}

.imgList > img {
  margin-right: 1em;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .imgBox {
    width: 700px;
    height: 580px;
    margin-left: -350px;
    margin-top: -290px;
  }
}

@media screen and (max-width: 900px) {
  .imgBox {
    width: 560px;
    height: 500px;
    margin-left: -280px;
    margin-top: -250px;
  }
}

@media screen and (max-width: 700px) {
  .imgBox {
    width: 480px;
    height: 460px;
    margin-left: -240px;
    margin-top: -230px;
  }
}

@media screen and (max-width: 600px) {
  .imgBox {
    width: 400px;
    height: 420px;
    margin-left: -200px;
    margin-top: -210px;
  }
}

@media screen and (max-width: 470px) {
  .imgBox {
    width: 320px;
    height: 340px;
    margin-left: -160px;
    margin-top: -170px;
  }

  .reviewImg > img {
    width: 65%;
    margin-bottom: 1.5em;
  }

  .imgList img {
    width: 60px;
    height: 60px;
  }

  .close {
    font-size: 30px;
  }
}
