.title {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.valleyName {
  display: flex;
  align-items: center;
}

.valleyName > span:first-child {
  color: white;
  font-weight: bold;
  font-size: 1.9rem;
  margin-right: 0.5em;
}

.valleyName > span:last-child {
  font-size: 0.9rem;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.3em 0.5em;
}

.valleyAddress {
  margin: 0.8em 0 1em 0;
}

.valleyAddress > span {
  color: white;
}

.valleyInfo {
  padding: 0 10%;
  display: flex;
  margin-top: 2.5em;
}

.valleyMap {
  width: 100%;
  margin-right: 2.5em;
  min-width: 400px;
}

.placeMenu {
  border: 1px solid #66a5fc;
  color: #66a5fc;
  padding: 0.5em 0.7em;
  border-radius: 8px;
  margin-right: 0.5em;
  font-weight: bold;
  cursor: pointer;
}

.clickedMenu {
  border: 1px solid #66a5fc;
  background-color: #66a5fc;
  color: white;
  padding: 0.5em 0.7em;
  border-radius: 8px;
  margin-right: 0.5em;
  font-weight: bold;
  cursor: pointer;
}

.valleyPlace {
  margin-top: 1.5em;
}

.valleyDetail {
  width: 100%;
  margin-top: 0.5em;
}

.valleyWeather > span {
  font-weight: bold;
  font-size: 1.3rem;
}

/* 날씨 리스트 */
.weatherList {
  margin-top: 0.5em;
  display: flex;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 1em 0;
  min-width: 400px;
  overflow: hidden;
}

.weatherItem:not(:last-of-type) {
  border-right: 1px solid #cccccc;
}

/* 각 날씨 */
.weatherItem {
  flex-grow: 1;
  padding: 0 0.6em;
  display: flex;
  justify-content: center;
}

.weatherItem > div {
  width: 95px;
}

.weatherItem > div > span {
  display: block;
  text-align: center;
}

.weatherItem > div > span:nth-child(2) {
  font-weight: bold;
  color: #5a5a5a;
  margin: 0.5em 0;
}

/* 온도 */
.temperature {
  position: relative;
  margin-bottom: 0.6em;
  text-align: center;
}

.temperature > span {
  font-weight: bold;
}

.temperature > span:first-child {
  color: #3378fc;
}

.temperature > span:nth-child(2) {
  color: #c7c7c7;
}

.temperature > span:last-child {
  color: #fd4848;
  font-size: 1.4rem;
}

/* 날씨 자세한 정보 */
.weatherItemDetail {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  align-items: center;
}

.weatherItemDetail > span:first-child {
  color: #656565;
  font-weight: 600;
  font-size: 0.8rem;
}

.weatherItemDetail > span:last-child {
  color: #727272;
  font-size: 0.6rem;
  border: 1px solid #a5a5a5;
  padding: 0.2em 0.6em;
  border-radius: 20px;
}

/* 날씨 날짜 */
.dayInfo {
  margin-top: 1.3em;
}
.dayInfo span {
  display: block;
  text-align: center;
}

.dayInfo > span:first-child {
  font-weight: bold;
  font-size: 1.4rem;
}

/* 계곡 상세보기 사고 수 */
.valleyAccident {
  margin-top: 1.5em;
}

.valleyAccident > span,
.rescueSupplies > span {
  color: #8b8b8b;
  font-size: small;
}

.graph {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.graphTitle {
  background: linear-gradient(to right, #66a5fc, #95ae94);
  border-radius: 10px 10px 0 0;
  display: flex;
}

.graphTitle span {
  color: white;
  font-weight: bold;
  display: block;
  padding: 1em;
  flex-grow: 1;
  text-align: center;
  font-size: 1.3rem;
}

/* .graphTitle > span:not(:last-of-type),
.graphContent > span:not(:last-of-type) {
  border-right: 1px solid #efefef;
} */

.graphContent {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 2px rgb(201, 201, 201);
  display: flex;
}

.graphContent span {
  font-weight: bold;
  display: block;
  padding: 0.8em 0;
  flex-grow: 1;
  text-align: center;
  font-size: 2em;
}

.rescueList {
  display: flex;
  border: 1px solid #66a5fc;
  padding: 1em 0.5em;
  border-radius: 8px;
  justify-content: space-around;
  margin-top: 0.5em;
}

.rescueItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rescueItem > span:nth-child(2) {
  color: #cccccc;
  font-size: small;
}

.rescueItem > span:nth-child(3) {
  color: #717171;
  font-weight: bold;
  font-size: 1.4em;
}
