.chatComponent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 0;
  box-sizing: border-box;
}

.messageList {
  overflow-y: scroll;
}

.messageList::-webkit-scrollbar {
  display: none;
}

.speechBubble {
  padding: 0 1.2em;
  margin-bottom: 0.5em;
}

.speechBubble > div {
  display: flex;
  align-items: flex-end;
}

.mySpeechBubble,
.opponentSpeechBubble {
  padding: 0.8em 1em;
  font-size: 0.9rem;
  border-radius: 10px;
  max-width: 300px;
}

.readCount {
  color: #66a5fc;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
}

.sendTime {
  color: #b0b0b0;
  font-size: 0.8rem;
}

.mySpeechBubble {
  background-color: #d6e6fd;
  margin-left: 0.6em;
}

.opponentSpeechBubble {
  border: 1px solid #d7d7d7;
  margin-right: 0.6em;
}

.sendMessage {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 0.5em;
}

.sendMessage input {
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  border-radius: 30px;
  font-size: 0.9rem;
  padding: 0.8em 1.4em;
  margin-right: 1em;
}

input::placeholder {
  color: #939393;
}

.sendMessage button {
  background-color: transparent;
  border: none;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
  color: #66a5fc;
  font-weight: 700;
  font-size: 0.9rem;
}
