.header {
  border-bottom: 1px solid #dadada;
  padding: 1em 10% 0;
  z-index: 4;
  position: relative;
  background-color: white;
}

.headertop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.login span {
  border: 1px solid #dadada;
  padding: 0.8em 1.5em;
  border-radius: 30px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-right: 1em;
}

.login > span:first-child {
  border: 1px solid #66a5fc;
  color: #66a5fc;
}

.signup span {
  border: 1px solid #dadada;
  padding: 0.8em 1.5em;
  border-radius: 30px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-right: 1em;
}

.signup > span:last-child {
  border: 1px solid #66a5fc;
  color: #66a5fc;
}

.nav {
  padding: 0 8%;
  display: flex;
}

.navMenu {
  cursor: pointer;
  display: block;
  padding: 1.5em 0 0.8em 0;
  margin-right: 5em;
  font-size: 1.1em;
  font-weight: bold;
}

.navMenuClicked {
  cursor: pointer;
  display: block;
  padding: 1.5em 0 0.8em 0;
  margin-right: 5em;
  border-bottom: 3px solid #66a5fc;
  color: #66a5fc;
  font-weight: bold;
  font-size: 1.1em;
}
