.report {
  margin-top: 7em;
  margin-right: 2.5em;
  min-width: 16em;
  max-width: 16em;
}

.menu {
  margin-left: 0.3em;
}

.menu span {
  border: 1px solid #66a5fc;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  margin-right: 0.3em;
  cursor: pointer;
  font-size: 0.9rem;
}

.reportList {
  margin-top: 1em;
  height: 78vh;
  overflow-y: scroll;
  padding: 0.3em;
}

.reportList::-webkit-scrollbar {
  display: none;
}

.reportItem:not(:first-of-type) {
  margin-top: 0.8em;
}

.reportItem {
  box-shadow: 0 2px 4px rgb(159, 159, 159);
  border-radius: 12px;
}

.presentation > span:first-child {
  font-weight: bold;
  margin-right: 0.5em;
}

.region {
  margin-top: 0.5em;
}
