.report {
  margin-top: 7em;
  margin-right: 1.5em;
  min-width: 16em;
  width: calc(100% / 3);
}

.menu {
  margin-left: 0.3em;
}

.menu span {
  border: 1px solid #66a5fc;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  margin-right: 0.3em;
  cursor: pointer;
  font-size: 0.9rem;
}

.defaultAlert {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(232, 232, 232);
}

.defaultAlert > div:first-child {
  background-color: #e8e8e8;
  border-radius: 10px 10px 0 0;
  color: #3a3a3a;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 1em 1.5em;
}

.defaultAlert > div:last-child {
  background-color: #f1f1f1;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 1em;
}

.reportList {
  margin-top: 1em;
  height: 78vh;
  overflow-y: scroll;
  padding: 0.3em;
}

.reportList::-webkit-scrollbar {
  display: none;
}

.reportItem:not(:first-of-type) {
  margin-top: 0.8em;
}

.reportItem {
  box-shadow: 0 2px 4px rgb(159, 159, 159);
  border-radius: 12px;
}

.presentation > span:first-child {
  font-weight: bold;
  margin-right: 0.5em;
}

.region {
  margin-top: 0.5em;
}
