body {
    margin: 0;
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}

.admin-valley-register {
    display: flex;
}

/* 헤더 */
.admin-header {
    background-color: #5a5a5a;
    width: 18em;
    padding: 1em 0;
    flex-grow: 1;
}

.admin-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-logo img {
    margin-right: 1em;
}

.admin-logo h1 {
    color: white;
}

/* 헤더 카테고리 */
.admin-category {
    margin-top: 1em;
}

.admin-category div {
    background-color: #4b4b4b;
    color: white;
    margin: 0.8em 0;
    padding: 1em 2em;
    cursor: pointer;
    font-weight: 600;
}

/* 계곡 등록 페이지 */
.valley-register-page {
    width: 80%;
}

.admin-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 2px rgb(225, 225, 225);
    height: 5em;
    padding: 0 3em;
}

.admin-title h1 {
    font-size: 1.4rem;
}

.admin-title span {
    border: 1px solid #dadada;
    border-radius: 20px;
    padding: 0.5em 1em;
    font-size: 0.9rem;
    cursor: pointer;
}

.admin-title span a:link, .admin-title span a:visited {
    color: black
}

.valley-update-page-main, .valley-create-page {
    padding: 4em 5%;
}

/* 계곡 기본 정보 입력 */
.valley-info-register {
    display: flex;
}

.valley-img {
    max-width: 220px;
    margin-right: 1em;
    padding-bottom: 2.5em;
}

.valley-img img {
    border-radius: 8px;
    margin-right: 1em;
}

.valley-img div > form {
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.valley-img div form:first-child button {
    border: none;
    background-color: #66A5FC;
    color: white;
    padding: 0.8em;
    border-radius: 5px;
    margin: 0.8em 0 0.5em 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.valley-img div form:last-child button {
    background-color: transparent;
    border: 1px solid #66A5FC;
    color: #66A5FC;
    padding: 0.8em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.valley-info-basic {
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    width: 80%;
    padding: 0.5em 1.5em 1em;
    box-sizing: border-box;
}

.valley-info-basic > input {
    border: none;
}

.valley-info-basic > input:focus {
    outline: none;
}

/* 계곡 이름 입력 */
.valley-info-basic > input:first-child {
    width: 100%;
    height: 3em;
    border-bottom: 1px solid #bdbdbd;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
}

.valley-info-basic > input:first-child::placeholder {
    color: #8f8f8f;
    font-weight: bold;
    font-size: 1.2rem;
}

/* 계곡 주소 분류 선택 */
.valley-address {
    margin-top: 1.5em;
}

select,
.valley-address input{
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-right: 1em;
    color: #7d7d7d;
    font-weight: bold;
    font-size: 1rem;
}

/* 계곡 상세주소 입력 */
.valley-info-basic > input:nth-child(3),
.valley-info-basic > input:nth-child(4){
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    margin-top: 1em;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7em 1em;
    box-sizing: border-box;
}

.valley-info-basic > input:nth-child(3)::placeholder
.valley-info-basic > input:nth-child(4)::placeholder{
    color: #8f8f8f;
    font-weight: bold;
    font-size: 1rem;
}

/* 계곡 분류 카테고리 선택 */
.valley-category {
    margin: 1.8em 0 0.8em 0;
}

.valley-category > div:first-child {
    margin-bottom: 1.5em;
}

.valley-category > div p {
    font-weight: bold;
    margin: 0 0 0.8em 0.2em;
    color: #474747;
}

.valley-category label {
    color: #66a5fc;
    border: 1px solid #66a5fc;
    border-radius: 20px;
    padding: 0.3em 1em;
    font-size: 0.8rem;
    margin-right: 0.5em;
    cursor: pointer;
}

.rescue-register {
    margin-top: 3em;
}

h4 {
    font-size: 1.2rem;
    margin: 0 0 1em 0;
}

table {
    border: 1px solid #A0A0A0;
    border-collapse: collapse;
    text-align: center;
}

table input {
    border: none;
    text-align: center;
    color: #717171;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

table input::-webkit-outer-spin-button,
table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table input:focus {
    outline: none
}

.rescue-register table tr:first-child td {
    color: #606060;
    padding: 0.8em;
    font-size: 1rem;
    width: calc(100%/6);
}

.rescue-register table tr:last-child td,
.valley-quality-register table tr:last-child td,
.valley-detail-register table tr:nth-child(2) td
 {
    color: #717171;
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: bold;
}

.valley-quality-register, .valley-detail-register {
    margin-top: 3em;
}

.valley-quality-register table tr:first-child td {
    color: #606060;
    padding: 0.8em;
    font-size: 1rem;
    width: calc(100%/2);
}

.valley-detail-register table tr:first-child td {
    color: #606060;
    padding: 0.8em;
    font-size: 1rem;
    width: calc(100%/6);
}

.valley-detail-register table tr:nth-child(2) td:first-child,
.valley-detail-register table tr:last-child td:first-child
 {
    color: #606060;
    padding: 0.8em;
    font-size: 1rem;
    font-weight: normal;
}

.valley-detail-register table tr:nth-child(2) td:first-child,
.valley-detail-register table tr:last-child td:first-child
 {
    color: #717171;
    padding: 0.8em;
    font-size: 1rem;
    font-weight: bold;
    min-width: 80px;
}

.valley-safety-alert {
    margin-top: 3em;
}

.valley-safety-alert input {
    border: 1px solid #A0A0A0;
    color: #606060;
    font-size: 1rem;
    padding: 1em;
    box-sizing: border-box;
}

.valley-safety-alert input:focus {
    outline: none;
}

/* 등록 버튼 */
.valley-register-btn {
    margin-top: 3em;
    border: none;
    background-color: #66A5FC;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.8em 1.5em;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgb(208, 208, 208);
}