<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/footer.css" th:href="@{/css/footer.css}"/>
  </head>
  <body>
    <!-- 푸터 -->
    <footer>
      <div class="footer">
        <img
                src="../../static/img/투계곡-logo.png"
                th:src="@{/img/투계곡-logo.png}"
                alt="tovalley logo"
                width="120px"
        />
        <div class="terms">
          <span>이용약관</span>
          <span>개인정보 처리방침</span>
          <span>문의사항</span>
          <span>관리자 로그인</span>
        </div>
        <div class="engineer-info">
          <span>BackEnd</span>
          <div>
            <span>정연준 jyj000217@gmail.com</span>
            <span>손지민 wl2258@kumoh.ac.kr</span>
          </div>
          <span>FrontEnd</span>
          <span>장윤정 yunej27@gmail.com</span>
        </div>
      </div>
    </footer>
  </body>
</html>
