<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/header.css" th:href="@{/css/header.css}"/>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <div class="header">
        <div class="header-top">
          <div class="logo">
            <img
              src="../../static/img/투계곡-logo.png"
              th:src="@{/img/투계곡-logo.png}"
              alt="tovalley logo"
              width="120px"
            />
          </div>
          <div class="signup">
            <span>회원가입</span>
            <span>로그인</span>
          </div>
        </div>
        <div class="nav">
          <span class="nav-menu"> 전국 계곡 </span>
          <span class="nav-menu"> 안전 가이드 </span>
        </div>
      </div>
    </header>
  </body>
</html>
